.container {

    background: var(--bg);
    min-height: 100vh;

}

.layout {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.main {
    flex: 1;
    padding: 24px 32px;
    background: var(--bg);
    overflow: hidden;
    box-sizing: border-box;
}