/* .tooltip {
    position: absolute;
    top: 30px;
    left: 0;
    width: 220px;
    background: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    z-index: 100;
} */

.title {
    font-weight: 600;
    margin-bottom: 6px;
}

.section {
    font-size: 12px;
    margin-bottom: 6px;
}

.row {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 4px;
}

.user {
    margin-top: 6px;
    font-size: 12px;
}

.tooltip {
    position: absolute;
    top: 36px;
    left: 8;
    width: 240px;
    background: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    z-index: 9999;

    opacity: 0;
    transform: translateY(6px);
    animation: fadeIn 0.2s ease forwards;

    position: absolute;
    z-index: 999;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tooltip::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 20px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

/* .tooltip {
    top: 36px;
    left: 8px;
} */