    .container {
        display: grid;
        grid-template-columns: 240px 1fr;

        max-width: 1200px;
        margin: 0 auto;

        gap: 40px;
        padding: 24px 0;

        justify-content: center;

        height: calc(85vh - 60px);
        overflow: hidden;

    }

    .content {
        width: 100%;
        max-width: 950px;

        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }